:root{
    --WIDTH: 170px;
    --HEIGHT: 20px;
    --padWidht: 5px;
    --padHeight: 10px;
}


.dtable_Head{
     text-align: center;
    border: 3px solid #126fa5;
}

th,td {
    border-style:solid;
    border-width: black;
    font-size: 24px;
}

.dtable{
        display: tabel; /* ブロックレベル要素をtableと同じように表示にする*/
}
.dtable_c{
    display: table-cell; /* ブロックレベル要素をtd(th)と同じように表示にする*/
    border: 3px solid #46bafd;
    padding: var(--padHeight) var(--padWidht);
    width: var(--WIDTH);
    display:inline-block;
}


